openai==0.25.0
gtts==2.3.0
streamlit==1.17.0
streamlit-toggle-switch==1.0.2
streamlit-webrtc==0.44.2
pychatgpt==0.4.0
revchatgpt==1.0.11
pyttsx3==2.90
pyaudio==0.2.13
whisper==1.1.10
speechrecognition==3.9.0
pydub==0.25.1
pyopenssl==23.0.0
cryptography==38.0.4